In [1]:
#These are libraries that you should import if needed for your notebook.
#import libraries
import pandas as pd
import seaborn as sns
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
#from google.colab import files

# Tables

In [ ]:
#Upload file
# i'm runnin it locally so i don't need to upload the file

In [ ]:
#Read the file into a pandas dataframe
olympics_df = pd.read_csv('olympics2024.csv')
olympics_df.head(10)

,Rank,Country,Country Code,Continent,Gold,Silver,Bronze,Total,Population,GDP per capita (current US$)
0,1,United States,US,North America,40,44,42,126,3.349149e+08,71972.64137
1,2,China,CHN,Asia,40,27,24,91,1.410710e+09,11689.34581
2,3,Japan,JPN,Asia,20,12,13,45,1.245166e+08,37673.38470
3,4,Australia,AUS,Oceania,18,19,16,53,2.663854e+07,59480.90144
4,5,France,FRA,Europe,16,26,22,64,6.817023e+07,41738.60442
5,6,Netherlands,NED,Europe,15,7,12,34,1.787949e+07,56585.69168
6,7,Great Britain,GBG,Europe,14,22,29,65,6.697000e+07,46125.26000
7,8,South Korea,KOR,Asia,13,9,10,32,5.171262e+07,32853.05860
8,9,Italy,ITA,Europe,12,13,15,40,5.876115e+07,35095.94639
9,10,Germany,GER,Europe,12,13,8,33,8.448227e+07,49289.02237

In [ ]:
#Output the table, olympics to the screen
olympics_df.columns

Index(['Rank', 'Country', 'Country Code', 'Continent', 'Gold', 'Silver',
       'Bronze', 'Total', 'Population', 'GDP per capita (current US$)'],
      dtype='object')

# Working with tables

In [ ]:
# print the column header to the screen

In [ ]:
# select only specific columns
olympics_df[['Country', 'Total']]

          Country  Total
0   United States    126
1           China     91
2           Japan     45
3       Australia     53
4          France     64
..            ...    ...
86           Peru      1
87          Qatar      1
88      Singapore      1
89       Slovakia      1
90         Zambia      1

[91 rows x 2 columns]

To make changes permanent:

*   Assign new value to variable
*   Create new variable

In [ ]:
# read only specific columns into a new table
country_totals_df = olympics_df[['Country', 'Total']]

In [ ]:
country_totals_df

          Country  Total
0   United States    126
1           China     91
2           Japan     45
3       Australia     53
4          France     64
..            ...    ...
86           Peru      1
87          Qatar      1
88      Singapore      1
89       Slovakia      1
90         Zambia      1

[91 rows x 2 columns]

In [ ]:
# drop a specific column(s)
olympics_df.drop(columns=['Rank', 'Country Code', 'Gold', 'Silver', 'Bronze'], axis=1)

,Country,Continent,Total,Population,GDP per capita (current US$)
0,United States,North America,126,3.349149e+08,71972.641370
1,China,Asia,91,1.410710e+09,11689.345810
2,Japan,Asia,45,1.245166e+08,37673.384700
3,Australia,Oceania,53,2.663854e+07,59480.901440
4,France,Europe,64,6.817023e+07,41738.604420
...,...,...,...,...,...
86,Peru,South America,1,3.435272e+07,6949.323111
87,Qatar,Asia,1,2.716391e+06,67370.554620
88,Singapore,Asia,1,5.917648e+06,76062.578980
89,Slovakia,Europe,1,5.426740e+06,21290.114290
90,Zambia,Africa,1,2.056974e+07,1237.426046

**Sorting**

In [ ]:
# sort the table according to the values in a specific column
olympics_df.sort_values(by ='Total')

,Rank,Country,Country Code,Continent,Gold,Silver,Bronze,Total,Population,GDP per capita (current US$)
90,84,Zambia,ZAM,Africa,0,0,1,1,2.056974e+07,1237.426046
61,62,Dominica,DMA,North America,1,0,0,1,7.304000e+04,8106.886958
62,62,Pakistan,PKN,Asia,1,0,0,1,2.404857e+08,1452.374849
89,84,Slovakia,SVK,Europe,0,0,1,1,5.426740e+06,21290.114290
73,74,Cyprus,CYP,Europe,0,1,0,1,1.260138e+06,31439.386720
...,...,...,...,...,...,...,...,...,...,...
3,4,Australia,AUS,Oceania,18,19,16,53,2.663854e+07,59480.901440
4,5,France,FRA,Europe,16,26,22,64,6.817023e+07,41738.604420
6,7,Great Britain,GBG,Europe,14,22,29,65,6.697000e+07,46125.260000
1,2,China,CHN,Asia,40,27,24,91,1.410710e+09,11689.345810
0,1,United States,US,North America,40,44,42,126,3.349149e+08,71972.641370

In [ ]:
# sort the table according to the values in a specific column in a descending order
olympics_df.sort_values('Total', ascending=False)

,Rank,Country,Country Code,Continent,Gold,Silver,Bronze,Total,Population,GDP per capita (current US$)
0,1,United States,US,North America,40,44,42,126,3.349149e+08,71972.641370
1,2,China,CHN,Asia,40,27,24,91,1.410710e+09,11689.345810
6,7,Great Britain,GBG,Europe,14,22,29,65,6.697000e+07,46125.260000
4,5,France,FRA,Europe,16,26,22,64,6.817023e+07,41738.604420
3,4,Australia,AUS,Oceania,18,19,16,53,2.663854e+07,59480.901440
...,...,...,...,...,...,...,...,...,...,...
62,62,Pakistan,PKN,Asia,1,0,0,1,2.404857e+08,1452.374849
75,74,Jordan,JOR,Asia,0,1,0,1,1.133705e+07,4220.834185
74,74,Fiji,FIJ,Oceania,0,1,0,1,9.363750e+05,5324.757646
73,74,Cyprus,CYP,Europe,0,1,0,1,1.260138e+06,31439.386720
90,84,Zambia,ZAM,Africa,0,0,1,1,2.056974e+07,1237.426046

You can concatenate commands

In [ ]:
# select a two columns and sort accoring to the values of the one
olympics_df[['Country', 'Total']].sort_values('Total', ascending=False)

          Country  Total
0   United States    126
1           China     91
6   Great Britain     65
4          France     64
3       Australia     53
..            ...    ...
62       Pakistan      1
75         Jordan      1
74           Fiji      1
73         Cyprus      1
90         Zambia      1

[91 rows x 2 columns]

**Filtering**

In [ ]:
# filter rows\instances according to the values of a specific column
olympics_df.where(olympics_df['Gold'] > 10).dropna()

,Rank,Country,Country Code,Continent,Gold,Silver,Bronze,Total,Population,GDP per capita (current US$)
0,1.0,United States,US,North America,40.0,44.0,42.0,126.0,3.349149e+08,71972.64137
1,2.0,China,CHN,Asia,40.0,27.0,24.0,91.0,1.410710e+09,11689.34581
2,3.0,Japan,JPN,Asia,20.0,12.0,13.0,45.0,1.245166e+08,37673.38470
3,4.0,Australia,AUS,Oceania,18.0,19.0,16.0,53.0,2.663854e+07,59480.90144
4,5.0,France,FRA,Europe,16.0,26.0,22.0,64.0,6.817023e+07,41738.60442
5,6.0,Netherlands,NED,Europe,15.0,7.0,12.0,34.0,1.787949e+07,56585.69168
6,7.0,Great Britain,GBG,Europe,14.0,22.0,29.0,65.0,6.697000e+07,46125.26000
7,8.0,South Korea,KOR,Asia,13.0,9.0,10.0,32.0,5.171262e+07,32853.05860
8,9.0,Italy,ITA,Europe,12.0,13.0,15.0,40.0,5.876115e+07,35095.94639
9,10.0,Germany,GER,Europe,12.0,13.0,8.0,33.0,8.448227e+07,49289.02237

In [ ]:
# filter rows\instances to retain information with a specific column value between two values
olympics_df.where(olympics_df['Silver'].between(2, 10)).dropna()

,Rank,Country,Country Code,Continent,Gold,Silver,Bronze,Total,Population,GDP per capita (current US$)
5,6.0,Netherlands,NED,Europe,15.0,7.0,12.0,34.0,17879488.0,56585.691680
7,8.0,South Korea,KOR,Asia,13.0,9.0,10.0,32.0,51712619.0,32853.058600
10,11.0,New Zealand,NZ,Oceania,10.0,7.0,3.0,20.0,5223100.0,46180.284480
11,12.0,Canada,CAN,North America,9.0,7.0,11.0,27.0,40097761.0,50253.728680
12,13.0,Uzbekistan,UZB,Asia,8.0,2.0,3.0,13.0,36412350.0,2064.040542
13,14.0,Hungary,HUN,Europe,6.0,7.0,6.0,19.0,9589872.0,18435.261510
14,15.0,Spain,SPA,Europe,5.0,4.0,9.0,18.0,48373336.0,29881.232760
15,16.0,Sweden,SWE,Europe,4.0,4.0,3.0,11.0,10536632.0,55759.954110
16,17.0,Kenya,KEN,Africa,4.0,2.0,5.0,11.0,55100586.0,2005.037898
19,20.0,Brazil,BRZ,South America,3.0,7.0,10.0,20.0,216422446.0,8534.605259
20,21.0,Iran,IRN,Asia,3.0,6.0,3.0,12.0,89172767.0,3855.675365
21,22.0,Ukraine,UKR,Europe,3.0,5.0,4.0,12.0,37000000.0,4399.675732
22,23.0,Romania,ROM,Europe,3.0,4.0,2.0,9.0,19056116.0,15012.761320
23,24.0,Georgia,GEO,Europe,3.0,3.0,1.0,7.0,3760365.0,5795.191456
28,29.0,Denmark,DEN,Europe,2.0,2.0,5.0,9.0,5946952.0,65091.132150
29,30.0,Azerbaijan,AZE,Europe,2.0,2.0,3.0,7.0,10112555.0,5873.877509
30,30.0,Croatia,CRO,Europe,2.0,2.0,3.0,7.0,3853200.0,17535.754640
40,41.0,Israel,ISR,Asia,1.0,5.0,1.0,7.0,9756700.0,49724.231020
41,42.0,Poland,POL,Europe,1.0,4.0,5.0,10.0,36685849.0,18082.493960
42,43.0,Kazakhstan,KAZ,Asia,1.0,3.0,3.0,7.0,19900177.0,10765.231800
43,44.0,Jamaica,JAM,North America,1.0,3.0,2.0,6.0,2825544.0,5725.686596
44,44.0,South Africa,SA,Africa,1.0,3.0,2.0,6.0,60414495.0,6509.769746
45,44.0,Thailand,THA,Asia,1.0,3.0,2.0,6.0,71801279.0,7157.159545
46,47.0,Ethiopia,ETH,Africa,1.0,3.0,0.0,4.0,126527060.0,1001.075906
47,48.0,Switzerland,SWI,Europe,1.0,2.0,5.0,8.0,8849852.0,91344.198710
48,49.0,Ecuador,ECU,South America,1.0,2.0,2.0,5.0,18190484.0,6140.120833
49,50.0,Portugal,POR,Europe,1.0,2.0,1.0,4.0,10525347.0,24404.953500
63,64.0,Turkey,TUR,Europe,0.0,3.0,5.0,8.0,85326000.0,10251.530090
64,65.0,Mexico,MEX,North America,0.0,3.0,2.0,5.0,128455567.0,11019.233600
65,66.0,Armenia,ARM,Europe,0.0,3.0,1.0,4.0,2777970.0,6008.194534
66,66.0,Colombia,COL,South America,0.0,3.0,1.0,4.0,52085168.0,6312.888339
67,68.0,North Korea,PRK,Asia,0.0,2.0,4.0,6.0,26160821.0,1217.000000
68,68.0,Kyrgyzstan,KGZ,Asia,0.0,2.0,4.0,6.0,7100800.0,1556.723930
69,70.0,Lithuania,LTU,Europe,0.0,2.0,2.0,4.0,2871897.0,23205.709500

In [ ]:
# filter rows\instances to retain information with a specific column containing a specific string
olympics_df.where(olympics_df['Country'].str.contains('South Africa')).dropna()

,Rank,Country,Country Code,Continent,Gold,Silver,Bronze,Total,Population,GDP per capita (current US$)
44,44.0,South Africa,SA,Africa,1.0,3.0,2.0,6.0,60414495.0,6509.769746

**Perform operations or apply methods**

In [ ]:
#How many rows are in the table?
olympics_df.shape[0]

91

In [ ]:
# Calculate the sum of each column
olympics_df.sum()

Rank                                                                         4123
Country                         United StatesChinaJapanAustraliaFranceNetherla...
Country Code                    USCHNJPNAUSFRANEDGBGKORITAGERNZCANUZBHUNSPASWE...
Continent                       North AmericaAsiaAsiaOceaniaEuropeEuropeEurope...
Gold                                                                          328
Silver                                                                        327
Bronze                                                                        384
Total                                                                        1039
Population                                                           6187849757.0
GDP per capita (current US$)                                       1927572.167322
dtype: object

In [ ]:
# We can also perform operations on an array
olympics_df['Gold']

0     40
1     40
2     20
3     18
4     16
      ..
86     0
87     0
88     0
89     0
90     0
Name: Gold, Length: 91, dtype: int64

In [ ]:
#Determine total number of gold medals

olympics_df['Gold'].sum()

328

In [ ]:
#Determine average number of medals
olympics_df.mean()

C:\Users\User\AppData\Local\Temp\ipykernel_21600\4221454037.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  olympics_df.mean()

Rank                            4.530769e+01
Gold                            3.604396e+00
Silver                          3.593407e+00
Bronze                          4.219780e+00
Total                           1.141758e+01
Population                      6.952640e+07
GDP per capita (current US$)    2.165811e+04
dtype: float64

**Class Exercise**: Determine whether the average number of gold medals won per country is higher for Europe or for North American countries.

In [ ]:
# Calculate the average number of gold medals for European and North American countries
EU_medals = olympics_df.where(olympics_df['Continent'].isin(['Europe'])).mean()['Gold']
north_america_avg_gold = olympics_df.where(olympics_df['Continent'].isin(['North America'])).mean()['Gold']
if EU_medals > north_america_avg_gold:
    print(f"{EU_medals} :European countries have more gold medals than North American countries")
else:
    print(f"{north_america_avg_gold} :North American countries have more gold medals than European countries")

4.666666666666667 :North American countries have more gold medals than European countries

C:\Users\User\AppData\Local\Temp\ipykernel_21600\952826900.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  EU_medals = olympics_df.where(olympics_df['Continent'].isin(['Europe'])).mean()['Gold']
C:\Users\User\AppData\Local\Temp\ipykernel_21600\952826900.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  north_america_avg_gold = olympics_df.where(olympics_df['Continent'].isin(['North America'])).mean()['Gold']